@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.poem{
    padding: 10% 1% 5% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.poem .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poem .thePoem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.poem .thePoem p{
    text-align: center;
}
.poem a{
    border: 1px solid #252839;
    padding: 10px;
    border-radius: 20px;
    transition: .5s;

}
.poem a:hover{
    transform: scale(1.1);
    transition: .5s;
}
.message{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer; /* Add cursor pointer for indicating clickable */
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
    background-color: #B76E79;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

